certifi==2024.12.14
charset-normalizer==3.4.1
confluent-kafka==2.8.0
grpcio==1.70.0
idna==3.10
protobuf==5.29.3
requests==2.32.3
urllib3==2.3.0
prometheus_client==0.21.1
grpcio_reflection
confluent-kafka==2.8.0
contourpy==1.3.1
cycler==0.12.1
fonttools==4.55.3
kiwisolver==1.4.8
matplotlib==3.10.0
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
six==1.17.0
fastapi
uvicorn
motor
pydantic
prometheus_client==0.21.1
annotated-types==0.7.0
anyio==4.8.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
confluent-kafka==2.8.0
contourpy==1.3.1
cycler==0.12.1
dnspython==2.7.0
fastapi==0.115.6
fonttools==4.55.3
h11==0.14.0
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.0
motor==3.6.1
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pillow==11.1.0
prometheus_client==0.21.1
protobuf==5.29.3
pydantic==2.10.5
pydantic_core==2.27.2
pymongo==4.9.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
sniffio==1.3.1
starlette==0.41.3
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0